li {
    margin: 10px;
}
.right {
    float: right;
}
a {
    text-decoration: none;
}
#login {
    color: #0000FF;
    cursor: pointer;  
    margin: 10px;  
}
a {
    color: black;
    text-decoration: none;
}
.cart {
    height:100%;
    width:100%;
}
.cartBtn {
    margin-left: 2%;
    padding:0px;
}