li {
    margin: 10px;
}
.right {
    float: right;
}
a {
    text-decoration: none;
}
#login {
    color: #0000FF;
    cursor: pointer;  
    margin: 10px;  
}
a {
    color: black;
    text-decoration: none;
}